.box {
    position: relative;
    height: 200px;
    z-index: 12;
}
.cont {
    padding: 27px;
    border: 2px solid #010100;
    position: absolute;
    width: 100%;
    height: 100%;
}
.title_c {
    font-size: 1.5em;
    transform: scale(12px);
    position: absolute;
    top: 12px;
    left: 12px;
}
.des_c {
    font-size: 1em;
    margin-bottom: 36px;
    position: absolute;
    top: 70px;
    left: 15px
}
.more {
    position: absolute;
    right: 6px;
    bottom: 5px;
    padding: 2px;
}
.img_fondo {
    position:absolute;
    bottom:-23px;
    left:-23px;
    z-index: -1;
    width: 118%;
    height: 122%;
}
.boxblack {
    position:absolute;
    bottom:-23px;
    left:-23px;
    z-index: -1;
    background-color: hsla(0, 6%, 10%, 0.46);
    width: 118%;
    height: 122%;    
}


@media (max-width: 2652px) {
    .img_fondo {
        width: 112%;
        height: 125%;
    }
    .boxblack {
        width: 112%;
        height: 125%;    
    }
}
@media (max-width: 1380px) {
    .img_fondo {
        width: 119%;
        height: 128%;
    }
    .boxblack {
        width: 119%;
        height: 128%;    
    }
}
@media (max-width: 1100px) {
    .img_fondo {
        width: 126%;
        height: 120%;
    }
    .boxblack {
        width: 126%;
        height: 120%;    
    }
}
@media (max-width: 992px) {
    .img_fondo {
        width: 106%;
        height: 130%;
    }
    .boxblack {
        width: 106%;
        height: 130%;    
    }
}
@media (max-width: 770px) {
    .img_fondo {
        width: 106%;
        height: 130%;
        bottom:-23px;
        left:-16px;
    }
    .boxblack {
        width: 106%;
        height: 130%;
        bottom:-23px;
        left:-16px;
    }
}
@media (max-width: 640px) {
    .img_fondo {
        width: 108%;
        height: 124%;
        bottom:-23px;
        left:-16px;
    }
    .boxblack {
        width: 108%;
        height: 124%;
        bottom:-23px;
        left:-16px;
    }
}
@media (max-width: 380px) {
    .img_fondo {
        width: 115%;
        height: 118%;
        bottom:-23px;
        left:-16px;
    }
    .boxblack {
        width: 115%;
        height: 118%;
        bottom:-23px;
        left:-16px;
    }
}