<div class="row" >
  <div style="padding: 6px;">
    <div style="height: 100%">
      <mz-card
      [backgroundClass]="'blue-grey darken-3'"
      [textClass]="'white-text'"
      [hoverable]="true"
      class="col s12 m12 l4"
      
      >
      <mz-card-content class="row" style="padding: 0px; margin: 0;" >
        <div class="box"> 
          <p class="title_c" [@transladaXT]="transladaXT" >Sas titulo sdsdsdsd </p>
          
          <p class="des_c" [@opacar]="opacar" >
            I am a very simple card. I am good at containing small bits of information.   <br><br>
          </p>
          <div class="cont" [@transladaXC]="transladaXC"></div>
          
          <button mz-button class="more" (click)="opaca()" (click)="transladaX()" (click)="transladaXc()" >
            ver-mas
          </button>
          
          <img src="../assets/images/imgPrueba.jpg" alt="fondo" class="img_fondo">
          <div class="boxblack"></div>
        </div>
          
        </mz-card-content>
        <mz-card-action class="row">
          <div class="col s10">
            iconos
          </div>
          <div class="col s2">
          git
         </div>
        </mz-card-action>
      </mz-card>
    </div>
    <mz-card
    [backgroundClass]="'blue-grey darken-3'"
    [textClass]="'white-text'"
    [hoverable]="true"
    class="col s12 m12 l4"
    >
      <mz-card-content class="row" style="padding: 0px; margin: 0;">
        <div class="box"> 
          <p class="title_c">Sas-titulo</p>
          
          <p class="des_c"   [@opacar]="opacar">
            I am a very simple card. I am good at containing small bits of information.   <br><br>
          </p>
          <div class="cont"></div>
        
          <button mz-button class="more">
            ver-mas
          </button>
          
          <img src="../assets/images/imgPrueba.jpg" alt="fondo" class="img_fondo">
          <div class="boxblack"></div>
        </div> 
        
        
      </mz-card-content>
      <mz-card-action>
        <div>
          iconos
        </div>
        <div>
          git
        </div>
      </mz-card-action>
    </mz-card>
    <mz-card
    [backgroundClass]="'blue-grey darken-3'"
    [textClass]="'white-text'"
    [hoverable]="true"
    class="col s12 m12 l4"
    >
      <mz-card-content class="row" style="padding: 0px; margin: 0;">
        <div class="box"> 
          <p class="title_c">Sas-titulo</p>
          
          <p class="des_c" [@opacar]="opacar">
            I am a very simple card. I am good at containing small bits of information.   <br><br>
          </p>
          <div class="cont"></div>
          
          <button mz-button class="more">
            ver-mas
          </button>
          
          <img src="../assets/images/imgPrueba.jpg" alt="fondo" class="img_fondo">
          <div class="boxblack"></div>
        </div> 
        
        
      </mz-card-content>
      <mz-card-action>
        <div>
          iconos
        </div>
        <div>
          git
        </div>
      </mz-card-action>
    </mz-card>
  
  </div>
</div>

