<div class="row">
  <div class="box-gal">

    <mz-card
    [backgroundClass]="'blue-grey darken-3'"
    [textClass]="'white-text'"
    [hoverable]="true"
    class="col s12 m12 l4"
    >
      <mz-card-content class="row" style="padding: 0px; margin: 0;">
        <div class="box"> 
          <div class="cont">
            <p class="title_c">Sas-titulo</p>
            
            <p class="des_c">
              I am a very simple card. I am good at containing small bits of information.   <br><br>
            </p>
          </div>
          
          <button mz-button class="more">
            ver-mas
          </button>
          
          <img src="../assets/images/imgPrueba.jpg" alt="fondo" class="img_fondo">
          <div class="boxblack"></div>
        </div> 
        
        
      </mz-card-content>
      <mz-card-action>
        <div>
          iconos
        </div>
        <div>
          git
        </div>
      </mz-card-action>
    </mz-card>
    <mz-card
    [backgroundClass]="'blue-grey darken-3'"
    [textClass]="'white-text'"
    [hoverable]="true"
    class="col s12 m12 l4"
    >
      <mz-card-content class="row" style="padding: 0px; margin: 0;">
        <div class="box"> 
          <div class="cont">
            <p class="title_c">Sas-titulo</p>
            
            <p class="des_c">
              I am a very simple card. I am good at containing small bits of information.   <br><br>
            </p>
          </div>
          
          <button mz-button class="more">
            ver-mas
          </button>
          
          <img src="../assets/images/imgPrueba.jpg" alt="fondo" class="img_fondo">
          <div class="boxblack"></div>
        </div> 
        
        
      </mz-card-content>
      <mz-card-action>
        <div>
          iconos
        </div>
        <div>
          git
        </div>
      </mz-card-action>
    </mz-card>
    <mz-card
    [backgroundClass]="'blue-grey darken-3'"
    [textClass]="'white-text'"
    [hoverable]="true"
    class="col s12 m12 l4"
    >
      <mz-card-content class="row" style="padding: 0px; margin: 0;">
        <div class="box"> 
          <div class="cont">
            <p class="title_c">Sas-titulo</p>
            
            <p class="des_c">
              I am a very simple card. I am good at containing small bits of information.   <br><br>
            </p>
          </div>
          
          <button mz-button class="more">
            ver-mas
          </button>
          
          <img src="../assets/images/imgPrueba.jpg" alt="fondo" class="img_fondo">
          <div class="boxblack"></div>
        </div> 
        
        
      </mz-card-content>
      <mz-card-action>
        <div>
          iconos
        </div>
        <div>
          git
        </div>
      </mz-card-action>
    </mz-card>
  
  </div>
</div>

