.nav-G {
    width: 100%;
    height: 50px;
    background-color: #212121;
}
.nav-C {
    margin: 0;
    height: 100%;
}
.nav-Filtro {
    height: 100%;
    padding-top: 8%;
}
.nav-B {
    height: 100%;
    padding-top: 1%;
    display: flex;
    
}
.nav-Bi {
    height: 100%;
    padding-top: 3%;
    margin-top: 22px;    
    margin-left: -23px;
    margin-right: 15px;
}
input {
    color: white;
}
@media (max-width: 450px) {
    input {
        color: black;
    }
}